<form class="edit-file-container" #f="ngForm" novalidate (ngSubmit)="saveFile(f)">
  <div class="file-menu-wrapper">
    <button type="submit" class="btn btn-primary">
      Zapisz
    </button>
    <button class="btn btn-danger">
      Usuń
    </button>
    <button class="btn">
      Edytuj
    </button>
  </div>
  <div class="file-content-wrapper">
    <!--TODO To musi być readonly, dopóki ktoś nie kliknie 'edytuj' -->
    <textarea class="file-name" type="text" name="name" [ngModel]="file.name">{{file.name}}</textarea>
    <textarea class="file-content" type="text" name="content" [ngModel]="file.content">{{file.content}}</textarea>
  </div>
</form>