.edit-file-container {
  > .file-menu-wrapper {
    padding: 4px;
    margin: 8px 0px 8px 0px;

    > .btn {
      margin: 5px;
    }
  }

  > .file-content-wrapper {
    > .file-name {
      font-size: 20px;
      width: 100%;
      resize: none;
      height: 35px;
      margin-bottom: 5px;
    }

    > .file-content {
      width: 100%;
      min-height: 75vh;
      font-size: 12pt;
      resize: none;
    }

    > textarea[readonly] {
      background-color: lightgray;
      outline: none;
    }
  }
}
